body {
  background: #F3F3F3;
  padding: 10px;
  min-width:  500px;
  font-family: "Open Sans", sans-serif;
}

.header{
    width: 100%;
}

.container {
    width: 400px;
    margin: 0 auto;
}

.rightSide {
    float:right;
    outline: none;
}

button {
    text-decoration: none;
    color: white;
    background: #F2385A;
    transition: all 0.2s;
    outline:none;
}
.floating {
    float: left;
    font-size: 18px;
    border-radius: 10px;
}
button:hover {
    background-color: #397CAC;
    border-color: #326E99;
}

#selectCategory {
    margin-top: 2px;
    float: left;
    margin-left: 5px;
    border-radius: 5px;
    outline: none;
}
.searchBar {
    padding: 5px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    height: 30px;
    width: 100%;
    margin-top: 2px;
    float: left;
    border-radius: 6px;
    outline: none;
}
.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  padding-top: 10px;
}
.column {
  flex-basis: percentage(1/3);
  width: percentage(1/3);
  padding: 0 10px;
  box-sizing: border-box;
}

@media (max-width: 900px) {
    .column {
        flex-basis: 50%;
        width: 50%;
    }
}
@media (max-width: 600px) {
    .column {
        flex-basis: 100%;
        width: 100%;
    }
}

.bookmark {
    background: #FFF;
    margin: 0 0 20px;
    padding: 20px;
    border-radius: 2px;;
    cursor: pointer;
    transition: 0.3s ease;
}
.bookmark:hover {
    background-color: #B8BFC7;
    border-color: #AAB3BB;
 }
.bookmark:active {
    box-shadow: none;
    transform-origin: center;
    transform: scale(0.98);
}

.bookmarkCategory {
    display: inline-block;
    padding: 8px 10px;
    margin: 0 0 10px;
    background-color: blue;
    color: #FFF;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
}

.bookmarkTitle {
    margin: 0 0 10px;
    color: #444;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.75rem;
}

.title {
    padding: 8px;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
    border-radius: 10px;
}
.popupInner {
    position: absolute;
    border-radius: 2px;
    border: 1px solid lightgrey;
    left: 15%;
    right: 15%;
    top: 15%;
    margin: auto;
    background: white;
}

.category {
    border: 1px solid lightgrey;
    border-radius: 2px;
    padding: 8px;
    margin-bottom: 8px;
    font-size: 20px;
}

.categoryList {
    padding-top: 5px;
    width: 100%;
    height: 300px;
    overflow-y: scroll;
}

.deleteCategory {
    border-radius: 5px;
    float: right;
}

.addPopup {
    padding-top: 10px;
    height: 50px;
}
.addPopupElement{
    font-size: 20px;
}

.title {
    font-size: 20px;
}
